body{
		margin:0;
		}
.content-body{
		width:35%;
		height:448px;
		margin-top:40px;
		margin-left:auto;
		margin-right:auto;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		}
.main-nav{
		background: #8a00e6;	
		padding:10px 20px;	
		}
.main-nav a{
		color:#fff;
		text-decoration: none;			
		display:inline-block;
		}

.side-options{
		float:right;
		}

.side-options a{
		display:inline;
}		
#new{			
		padding:10px 15px;
		}
#opt{
		padding:10px 20px;
		}

#new:hover,#opt:hover,#new:focus,#opt:focus{
		background:#6b00b3;
		}


#notes-logo{
	display:inline-block;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 15px;
		/*letter-spacing: 0.5px;
		font-weight:600;
		font-size: 15px;*/
}
a#notes-logo {
	font-weight:bold;
	letter-spacing: 0.5px
}
/**************grids*****************/
.grid-container{
		width:100%;
		height:350px;
		}
 .col-md-7{
	 	margin:0;
	 	padding:0;
	 	position:relative;
	 	height:100%;
}
.col-md-5{
		margin:0;
		padding:0;
}

/********* new note overlay **********/
.new-note-overlay{
		position: fixed;
		height:100%;
		width:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:2;

		background:rgb(255,255,255,0.6);
		cursor:pointer;
		}

.new-note-content{
		position:absolute;
		top:17%;
		left:36%;
		padding: 20px;
		}
#close{
		position: absolute;
		top:0;
		left:95%;
		font-size:50px;
		text-decoration:none;
		}
.new-note-content label{
		color: #666;
	}
#note_body{
		resize:none;
		overflow-x:hidden;
		overflow-y: hidden;
}


/************* saved note *************/
#notes-log{
		overflow-y:scroll;
		border-right: 1px solid #d9d9d9;		
 		height:378px;
		/*background: blue;*/
}

.saved-notes-nav {
		padding:7px 10px;
		border-right: 1px solid #d9d9d9;
		}
#recntly-added-text{
		margin:0 0 0 35px;
		}
#saved-notes-count{
		margin:0 0 0 6px;	
		float:left;		
		}

.saved-notes-nav{
		color:#8a00e6;
		}

.saved-note{
		position:relative;
		width:100%;	
		overflow:hidden;	
		border-bottom:1px solid #e6e6e6;		
		background-image:linear-gradient(#cccccc,#d9d9d9,#e6e6e6);
}
.saved-note:active{		
		background-image:linear-gradient(#e6e6e6,#d9d9d9,#cccccc);		
		border-bottom:1px solid #cccccc;
}
.saved-note a{
		text-decoration:none;
}
#n-t-l{	
		text-transform:capitalize;
}
#note-title{
		float:left;		
		margin-left:7px;
		color:#8c8c8c;
		font-weight:600;
}
#fa-ellipsis-v{
		padding:5px;
		color:#8c8c8c;
}

#note-date {
		font-size:10px;
		float:left;
		clear:both;		
		margin-left:7px;
		color: #bfbfbf;
}

/*********** noteslog drop down (delete) *************/
.trig-dropdown{
	float:right;
	position:relative;
	right:3px;
	top:6.5px;
	display:inline-block;
}
.dropdowncontent-noteslog{
	display:none;
	position:absolute;
	right: 9px;
	top:9px;
	background: #f1f1f1;
	min-width:30px;	
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:5;
}
.dropdowncontent-noteslog a{
	color:black;
    padding: 12px 12px;
    text-decoration: none;
}
.trig-dropdown:hover .dropdowncontent-noteslog{
	display:block;
}
.dropdowncontent-noteslog:hover{
	background-color:#ddd;
}

/*********** Menu 'Options' drop down **********/

.options-dropdown{
	position: relative;
	display:inline-block;
}
.dropdownContent-opt{
	display:none;
	position:absolute;
	top:28px;
	right:1px;
	min-width:160px;
	background: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
	z-index:1;
}
.dropdownContent-opt a{	
	padding:3px 12px;
	color:black;
	text-decoration:none;
	display:block;
}

.dropdownContent-opt a:hover {
	background-color:#ddd;
}
.show{
	display:block;
}

/********** Notes Display Area ************/

.fa-file-text-o{
		margin-top:115px;
		font-size:150px;
		color:#cccccc;
}
.crt-new-img-txt h5{
		margin-top: 15px;
		font-size:15px;	
		color:#cccccc;
}

.note-display{
	height:380px;
	font-size:12.3px;
	margin-right: auto;
	margin-left:auto;
	margin-top: 5px;
	padding:10px 5px;
	word-wrap: break-word;
	width:90%;
	display:none;
	text-align:justify;
	color:#666;
}
#disp-title{
	font-weight:500;
}
#disp-body{
	letter-spacing: 0.5px;
}


/************ screen responsiveness **************/
@media screen and (max-width:316px){

	.content-body{
		min-width:316px;
	}
}

@media  screen and (max-width: 549px){
	
 .content-body{
    	width:100%;
		margin:0;
	 	min-height:100vh;
		 
	}
	.row{
		min-height:100vh;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.col-md-5{
		width:40%;
	}
	#notes-log{
		min-height:89vh;
	}
	.col-md-7{
		width:60%;
		float:right;
		clear:both;
		margin-top:-666px;
		min-height:94.5vh;
	}

	.fa-file-text-o{
		margin-top:250px;
	}

}
@media  screen and (min-width: 549px) and (max-width:660px){
	.new-note-content{
		left:20%;
	}
}
@media  screen and (min-width: 660px) and (max-width:890px){
	.new-note-content{
		left:25%;
	}
}

@media screen and (min-width:553px) and (max-width: 705px){
	#notes-log{
		height: 68.5vh;
	}
}


@media screen and (min-width:549px) and (max-width: 990px){
	.content-body{
		width:50%;
		margin-top:40px;
		margin-left:auto;
		margin-right:auto;
	}

	.col-md-5{
		width:40%;
	}
	.col-md-7{
		width:60%;
		float:right;
		margin-top:-430px; 
	}
}




 #login-txt, .login-body p, #regtr-txt, .reg-container p,.log-alt, .reg-alt, #reg-txt-lnk, #log-txt-lnk{	
	font-family:montserrat;
}
#login-txt,  #regtr-txt{
	font-weight:500;
}

#login-txt, #regtr-txt{
	font-size:23px;
	letter-spacing: 1.5px;
}
.login-body p, .reg-container p{
	font-weight:500;
	margin-bottom: 0;
}

.input-group{
	min-width:150px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
}

.input-group .form-control{
	border-right:none;
	border-left:none;
	border-top:none;
	box-shadow: none;
}
.input-group .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.log-alt, .reg-alt{
	font-size:12.5px;
}